{% extends "layout.html" %}

{% block title %}
    History 
{% endblock %}

{% block main %}
    <h1> History of all links added </h1>
        <table class="table" id="history">
            <tr>
                <th>URL</th>
                <th>Nickname</th>
                <th>Description</th>
                <th>Timestamp</th>
                <th>Status</th>
            </tr>
            {% for link in user_links %}
            <tr>
                <td><a href={{ link.url }} target="_blank">{{ link.url }}</a></td>
                <td>{{ link.nickname }}</td>
                <td>{{ link.description }}</td>
                <td>{{ link.timestamp }}</td>
                {% if not link.deleted %}
                <td> <a href="/">On homepage</a></td>
                {% endif %}
                {% if link.deleted and not link.permdeleted %}
                <td><a href="/trash">In Trash</a></td>
                {% endif %}
                {% if link.permdeleted %}
                <td style="color:red;">Permanently deleted</td>
                {% endif %}
            </tr>
            {% else %}
            <script>
                document.getElementById("history").style.display ='none';
            </script>
        <tr>You must be a new user!</tr>     
        {% endfor %}
    </table>
    {% endblock %}