{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <h1>Welcome, {{ username }}</h1>
    <p>Use <a href="/">LinkLEARN</a> to help you consolidate links and accompanying short descriptions to help accelerate your learning!</p>
    <button class="btn btn-primary" id="add">Add Link</button>
    <script>
        document.getElementById("add").onclick = function(){
            window.location.href = "/add"
        }
    </script>
    <br>
    {% for link in user_links if not link.deleted %}
    <div class="form-group" style="margin:20px; display:inline-block">
        <a href={{ link.url }} target="_blank">{{ link.nickname }}</a>
        <br> 
        <form id="form_{{ link.id }}" style="display:inline" action="/" method="POST">
            <textarea name="description_{{ link.id }}" id="description_{{ link.id }}" class="form-control" cols="30" rows="10" disabled>{{ link.description }}</textarea>
            <input type="hidden" name="link_id" value={{ link.id }}>
            <br>
        </form>
        <button class="btn btn-primary" name="edit" value ="edit" id ="edit_{{ link.id }}">Edit Description</button>
        <script>
                document.getElementById("edit_{{ link.id }}").onclick = function() {
                document.getElementById("description_{{ link.id }}").disabled = false;
                document.getElementById("edit_{{ link.id }}").style.display ='none';
                let save_description = document.createElement("button");
                let node = document.createTextNode("Save Description");
                save_description.appendChild(node);
                save_description.setAttribute('class', 'btn btn-primary');
                save_description.setAttribute('style', 'display:inline-block');
                save_description.setAttribute('name', 'save_desc');
                save_description.setAttribute('value', 'save_desc');
                save_description.setAttribute('type', 'submit');
                document.getElementById("form_{{ link.id }}").appendChild(save_description);
                }

                // edit and save description only works for the top item!
        </script>
        <form style="display:inline" action="/" method="POST">
            <input type="hidden" name="link_id" value={{ link.id }}>
            <button class="btn btn-primary" type="submit" name="delete" value="delete">Delete Link</button>
        </form>
    </div>
    {% else %}
        You currently have no links saved! Click <a href="/add">here</a> to add!
    {% endfor %}
{% endblock %}